body {
  margin: 10px;
  color: black;
  font-family: "Roboto", sans-serif;
}
h1 {
  display: inline-block;
  padding: 10px 10px 0 0;
  text-transform: capitalize;
}
h2,
h3 {
  display: inline-block;
  font-size: 14px;
  padding: 20px 0 10px 0;
}
img {
  height: 80px;
  padding: 0 15px 0 0;
}
i.UV-indicator {
  color: rgb(11, 94, 215);
}
i.UV-indicator-high {
  color: crimson;
}
i.UV-indicator-low {
  color: #2e8b57;
}
i.UV-indicator-moderate {
  color: #ffd700;
}
/* container of whole page */
.outline {
  position: fixed;
  padding: 20px;
  max-width: 600px;
}
/* daily temperatures for forecast */
.temperature {
  font-weight: 900;
}
/* current temperature */
.current-temp {
  font-size: 52px;
  vertical-align: bottom;
}
/* size and position of large C and F*/
.large {
  font-size: 20px;
  position: relative;
  top: -14px;
}
.temp-link {
  text-decoration: none;
  color: grey;
}
.temp-selected {
  text-decoration: none;
  color: black;
  font-weight: 900;
}
.daily {
  font-weight: 900;
}
.current {
  padding: 10px 0 0 0;
}
.today {
  font-weight: 900;
}

.side {
  font-size: 15px;
}
.bold {
  font-weight: 700;
  text-align: center;
}
.right {
  padding: 0;
}
.description {
  padding: 0 0 0 10px;
  font-weight: 900;
  font-size: 16px;
}
.day {
  padding: 10px 0 0 0;
  font-weight: 500;
  color: rgb(11, 94, 215);
}
.end {
  padding: 10px;
  text-decoration: none;
  color: rgb(11, 94, 215);
  vertical-align: bottom;
}
.btn {
  background-color: dodgerblue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 2px 6px; /* Some padding */
  font-size: 24px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 10px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(11, 94, 215);
  color: white; /* White text */
}
.btn2 {
  background-color: rgb(94, 95, 95); /* grey background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 2px 6px; /* Some padding */
  font-size: 24px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 10px;
}

/* Darker background on mouse-over */
.btn2:hover {
  background-color: rgb(50, 51, 53);
  color: white; /* White text */
}
