body {
  margin: 10px;
  color: black;
  font-family: "Roboto", sans-serif;
}
h1 {
  display: inline-block;
  padding: 10px 10px 0 0;
  text-transform: capitalize;
}
h2 {
  display: inline-block;
  font-size: 14px;
}

img {
  height: 65px;
  padding: 0 0 0 0;
}

i.UV-indicator {
  color: rgb(11, 94, 215);
}
i.UV-indicator-high {
  color: crimson;
}
i.UV-indicator-low {
  color: #0c9547;
}
i.UV-indicator-moderate {
  color: rgb(255, 165, 0);
}
.app-wrapper {
  position: absolute;
  margin: 20px auto;
  max-width: 600px;
}
/* container of whole page */
.outline {
  padding: 30px;
  border: 1px solid rgb(205, 206, 206);
  border-radius: 5px;
}
.forecast {
  height: 40px;
  margin: 0 auto;
  padding: 0;
}
/* current temperature */
.current-temp {
  font-size: 50px;
  font-weight: 500;
  vertical-align: bottom;
}
/* size and position of large C and F*/
.large {
  font-size: 15px;
  position: relative;
  top: -19px;
  padding: 0;
}
/* style of end links*/
.end-link {
  text-decoration: none;

  color: grey;
}
/* style of large C and F*/
.temp-link {
  text-decoration: none;
  color: grey;
}

/* style of large C and F* when selected*/
.temp-selected {
  text-decoration: none;
  color: black;
  font-weight: 900;
  cursor: default;
}
.temp-selected:hover {
  color: black;
  cursor: default;
}
/* padding on current min and max row*/
.current {
  padding: 12px 0 0 15px;
}
/* font size for right-side table*/
.side {
  font-size: 15px;
}
/* font bold and center*/
.bold {
  font-weight: 900;
  text-align: center;
}
/* padding on columns in right table*/
.right {
  padding: 0;
}
/* style for description*/
.description {
  padding: 0 0 0 10px;
  font-size: 16px;
}
.weather-forecast {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
/* style for each day forcast day name*/
.weather-forecast-day {
  font-weight: 500;
  color: rgb(11, 94, 215);
}
.weather-forecast-temperature-max {
  font-weight: 700;
  color: rgb(58, 59, 60);
}
.weather-forecast-temperature-min {
  font-weight: 700;
  color: rgb(104, 105, 107);
  padding: 0 0 0 5px;
}
/* padding for end row*/
.end {
  padding: 10px 10px 0;
  font-size: 12px;
  text-align: center;
}
/* search button*/
.btn {
  background-color: dodgerblue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 2px 6px; /* Some padding */
  font-size: 24px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 10px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(11, 94, 215);
  color: white; /* White text */
}
/* current location button*/
.btn2 {
  background-color: rgb(94, 95, 95); /* grey background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 2px 6px; /* Some padding */
  font-size: 24px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 10px;
}

/* Darker background on mouse-over */
.btn2:hover {
  background-color: rgb(50, 51, 53);
  color: white; /* White text */
}
